In [1]:
import pandas as pd
import numpy as np

In [2]:
import sqlalchemy as db
DATABASE_URL = 'sqlite:///' + 'data.db'
engine = db.create_engine(DATABASE_URL, echo = True)
connection = engine.connect()

2020-05-29 00:17:55,097 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-05-29 00:17:55,098 INFO sqlalchemy.engine.base.Engine ()
2020-05-29 00:17:55,099 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-05-29 00:17:55,100 INFO sqlalchemy.engine.base.Engine ()

In [3]:
df = pd.read_sql('Data', con = engine)

2020-05-29 00:17:55,116 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Data")
2020-05-29 00:17:55,120 INFO sqlalchemy.engine.base.Engine ()
2020-05-29 00:17:55,137 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-05-29 00:17:55,143 INFO sqlalchemy.engine.base.Engine ()
2020-05-29 00:17:55,151 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Data")
2020-05-29 00:17:55,162 INFO sqlalchemy.engine.base.Engine ()
2020-05-29 00:17:55,176 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Data' AND type = 'table'
2020-05-29 00:17:55,182 INFO sqlalchemy.engine.base.Engine ()
2020-05-29 00:17:55,204 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("Data")
2020-05-29 00:17:55,209 INFO sqlalchemy.engine.base.Engine ()
2020-05-29 00:17:55,213 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("Data")
2020-05-29 00:17:55,217 INFO sqlalchemy.engine.base.Engine ()
2020-05-29 00:17:55,227 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Data' AND type = 'table'
2020-05-29 00:17:55,233 INFO sqlalchemy.engine.base.Engine ()
2020-05-29 00:17:55,242 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Data")
2020-05-29 00:17:55,247 INFO sqlalchemy.engine.base.Engine ()
2020-05-29 00:17:55,252 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_Data_index")
2020-05-29 00:17:55,265 INFO sqlalchemy.engine.base.Engine ()
2020-05-29 00:17:55,270 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Data")
2020-05-29 00:17:55,277 INFO sqlalchemy.engine.base.Engine ()
2020-05-29 00:17:55,279 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_Data_index")
2020-05-29 00:17:55,283 INFO sqlalchemy.engine.base.Engine ()
2020-05-29 00:17:55,285 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Data' AND type = 'table'
2020-05-29 00:17:55,290 INFO sqlalchemy.engine.base.Engine ()
2020-05-29 00:17:55,306 INFO sqlalchemy.engine.base.Engine SELECT "Data"."index", "Data"."ID", "Data"."NUMERO_AFFAIRE", "Data"."DATE_DEC", "Data"."NATURE", "Data"."SIEGE_APPEL", "Data"."CONTENU", "Data"."SCT"
FROM "Data"
2020-05-29 00:17:55,308 INFO sqlalchemy.engine.base.Engine ()

In [4]:
df

,index,ID,NUMERO_AFFAIRE,DATE_DEC,NATURE,SIEGE_APPEL,CONTENU,SCT
0,0,JURITEXT000027340904,13/00024,2013-04-16,ARRET,RENNES,\n ARRET No 13/ 129 \n du 16 Avril 2013 \n \...,null null
1,0,JURITEXT000034005466,16/00553,2017-01-30,ARRET,BASSE_TERRE,\n \n VS-BR \n COUR D'APPEL DE BASSE-TERRE \...,null null
2,0,JURITEXT000033292077,16/00044,2016-10-21,ARRET,LIMOGES,\n \n No \n Dossier no 16/ 44 \n \n \n COUR ...,null null
3,0,JURITEXT000006942297,2002/36774,2003-09-15,null,PARIS,N° Répertoire Général : 02/36774 \n Sur appe...,"CONTRAT DE TRAVAIL, EXECUTION - Salaire - Paie..."
4,0,JURITEXT000025232527,10/01738,2011-11-08,ARRET,ANGERS,\n COUR D'APPEL D'ANGERS Chambre Sociale \n...,null null
...,...,...,...,...,...,...,...,...
67205,0,JURITEXT000028331961,11/03002,2013-12-10,ARRET,ANGERS,\n COUR D'APPEL d'ANGERS Chambre Sociale \n...,null null
67206,0,JURITEXT000020268944,08/01403,2009-01-14,ARRET,BORDEAUX,\n Dossier n 08 / 01403 \n SB \n Arrêt no : ...,null
67207,0,JURITEXT000030302139,14/01848,2015-02-23,ARRET,BASSE_TERRE,\n \n \n VF-BR \n \n COUR D'APPEL DE BASSE-TE...,null null
67208,0,JURITEXT000037677084,18/129551,2018-11-29,ARRET,AIX_PROVENCE,COUR D'APPEL d'AIX-EN-PROVENCE [...] \n \n No...,null null
67209,0,JURITEXT000024128191,10/06460,2011-05-19,ARRET,DOUAI,\n \n COUR D'APPEL DE DOUAI \n CHAMBRE 7 SECT...,null null

## Data cleaning

In [5]:
df_c = df.copy()

In [6]:
df_c.columns

Index(['index', 'ID', 'NUMERO_AFFAIRE', 'DATE_DEC', 'NATURE', 'SIEGE_APPEL',
       'CONTENU', 'SCT'],
      dtype='object')

### Index

In [7]:
df_c.drop('index', axis = 1, inplace = True)

### NUMERO_AFFAIRE

In [8]:
df_c['NUMERO_AFFAIRE'][df_c['NUMERO_AFFAIRE'] == 'null'] = np.NaN

### DATE_DEC

In [9]:
date_typo = ['0201-04-04', '0201-11-23', '0201-04-07', '0201-08-24', '0201-06-28', '0201-02-24']

In [10]:
for i in date_typo:
    c = i.split('-')
    c[0] = '2011'
    c = '-'.join(c)
    df_c['DATE_DEC'][df_c['DATE_DEC'] == i] = c

In [11]:
df_c['DATE_DEC'] = pd.to_datetime(df_c['DATE_DEC'], format = '%Y-%m-%d')

### NATURE

In [12]:
df_c['NATURE'][df_c['NATURE'] == 'null'] = np.NaN

/Users/leoguillaume/.pyenv/versions/3.7.6/envs/vivadata/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### SIEGE_APPEL

In [13]:
df_c['SIEGE_APPEL'][df_c['SIEGE_APPEL'] == 'null'] = np.NaN

/Users/leoguillaume/.pyenv/versions/3.7.6/envs/vivadata/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### SCT

In [14]:
df_c['SCT'][(df_c['SCT'] == 'null') | 
            (df_c['SCT'] == 'null null') | 
            (df_c['SCT'] == 'a\n\n') |
            (df_c['SCT'] == '  null') |
            (df_c['SCT'] == '\n\n null') |
            (df_c['SCT'] == '\n\n\n') |
            (df_c['SCT'] == 'null null null null null null') |
            (df_c['SCT'] == 'null null null null') |
            (df_c['SCT'] == 'null null null') |
            (df_c['SCT'] == 'A SUPPRIMER') |
            (df_c['SCT'] == '/JDF\n null') |
            (df_c['SCT'] == 'A SUPPRIMER\n null A SUPPRIMER\n null') |
            (df_c['SCT'] == 'adoublon avec 2000/01644\n\n') |
            (df_c['SCT'] == 'adoublon avec 2002/00020\n\n') |
            (df_c['SCT'] == '/\n null')] = np.NaN

/Users/leoguillaume/.pyenv/versions/3.7.6/envs/vivadata/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [15]:
df_c.to_pickle("data.pkl")

In [16]:
data = pd.read_pickle('data.pkl')

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67210 entries, 0 to 67209
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              67210 non-null  object
 1   NUMERO_AFFAIRE  59061 non-null  object
 2   DATE_DEC        67210 non-null  datetime64[ns]
 3   NATURE          57570 non-null  object
 4   SIEGE_APPEL     64240 non-null  object
 5   CONTENU         67210 non-null  object
 6   SCT             17098 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 3.6+ MB

,ID,NUMERO_AFFAIRE,DATE_DEC,NATURE,SIEGE_APPEL,CONTENU,SCT
0,JURITEXT000027340904,13/00024,2013-04-16,ARRET,RENNES,\n ARRET No 13/ 129 \n du 16 Avril 2013 \n \...,NaN
1,JURITEXT000034005466,16/00553,2017-01-30,ARRET,BASSE_TERRE,\n \n VS-BR \n COUR D'APPEL DE BASSE-TERRE \...,NaN
2,JURITEXT000033292077,16/00044,2016-10-21,ARRET,LIMOGES,\n \n No \n Dossier no 16/ 44 \n \n \n COUR ...,NaN
3,JURITEXT000006942297,2002/36774,2003-09-15,NaN,PARIS,N° Répertoire Général : 02/36774 \n Sur appe...,"CONTRAT DE TRAVAIL, EXECUTION - Salaire - Paie..."
4,JURITEXT000025232527,10/01738,2011-11-08,ARRET,ANGERS,\n COUR D'APPEL D'ANGERS Chambre Sociale \n...,NaN
...,...,...,...,...,...,...,...
67205,JURITEXT000028331961,11/03002,2013-12-10,ARRET,ANGERS,\n COUR D'APPEL d'ANGERS Chambre Sociale \n...,NaN
67206,JURITEXT000020268944,08/01403,2009-01-14,ARRET,BORDEAUX,\n Dossier n 08 / 01403 \n SB \n Arrêt no : ...,NaN
67207,JURITEXT000030302139,14/01848,2015-02-23,ARRET,BASSE_TERRE,\n \n \n VF-BR \n \n COUR D'APPEL DE BASSE-TE...,NaN
67208,JURITEXT000037677084,18/129551,2018-11-29,ARRET,AIX_PROVENCE,COUR D'APPEL d'AIX-EN-PROVENCE [...] \n \n No...,NaN
67209,JURITEXT000024128191,10/06460,2011-05-19,ARRET,DOUAI,\n \n COUR D'APPEL DE DOUAI \n CHAMBRE 7 SECT...,NaN